@tailwind base;

.accordion {
  width: 100%;
}

.panel {
  display: none;
  overflow: hidden;
}

@tailwind components;

.accordion {
  width: 100%;
}

.panel {
  display: none;
  overflow: hidden;
}

@tailwind utilities;
.accordion {
  width: 100%;
}

.panel {
  display: none;
  overflow: hidden;
}
